page-edit-comentario {

}

.contenedor-comentario{
    width: 100%;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
}

.cabecera-comentario{
    width: 100%;
    background-color: #e0e0e0;
    height: 35px;
    padding: 10px;
    color: grey;
    font-weight: 200;
}

.contenido-comentario{
    padding: 10px;
    color: #5a5a5a;
}