page-establecimiento {
    background-color: grey;
}



.titulo-visitas{
    background-color: #3F51B5;
    color: #ffffff;
}

.contenedor-visitas{
    margin-top:30px;
    border: 3px solid #3F51B5;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

.titulo-observaciones{
    background-color: #8BC34A;
    color: #ffffff;
}

.contenedor-observaciones{
    margin-top:30px;
    border: 3px solid #8BC34A;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

.titulo-comentarios{
    background-color: #2196F3;
    color: #ffffff;
}

.contenedor-comentarios{
    margin-top:30px;
    border: 3px solid #2196F3;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

