page-zonas {

}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
}
.head-seleccionado{
    color:white;
    margin-left: 20px;
    font-size: 15px;
}

.scrum-bar-btn{
    padding: 0;
    margin: 0;
}

.select-campanas{
    position: absolute;
    margin-top:30px;
    z-index: 999;
    width: 170px;
    right: 10px;
}

#mapZonas{
    margin-top: 0px;

}

#pac-input{
    z-index: 0;
    position: absolute;
    
    margin-right: 10px;
    margin-top:20px;

    font-size: 18px;
    border-radius: 3px;
    border: none;
    padding: 4px;
    font-weight: 200;
}
ion-spinner {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-top: 20%;
    z-index: 999;
    background-color: #222;
}

.btn-principal{
    display:inline-block;
    width: 100px;
    height: 100px;
    color:white;
    opacity: 1;
    border-radius: 3px;
    text-align: center;
    font-weight: 200;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.39);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.39);
margin-bottom: 20px;
margin-right: 5px;
margin-left: 5px;
}


.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

.btn-orange{

    background-color: orange;
}

.btn-indigo{

    background-color: rgb(96, 60, 143);
}

.btn-celeste{

    background-color: rgb(43, 160, 168);
}

.btn-grey{

    background-color: rgb(63, 63, 63);
}

.btn-principal ion-icon{
    font-size: 44px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.scrum-bar{
    background-color:rgb(58, 58, 58);
    color:white;
    margin-top:13px;
    padding: 5px;
    padding-left: 15px;
}


.panel-revision{
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    width: 70%;
    left: 40px;
    z-index: 999;
    bottom: 20px;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    color: #444141;
    margin-left: 200px;
    font-size: 12px;
}

.tabla-header{
    font-weight: 800;
}

.row-panel-revision{
    border-bottom: 1px solid #e0e0e0;
}

.contenedor-panel-revision{
}

.contenedor-panel-elementos{
    background-color:#3a3a3a;
    width: 220px;
    height: 100%;
    z-index:999;
    top: 0px;
    position: absolute;
    color:rgb(151, 151, 151);
    overflow-y: auto;
    
}

.contenedor-panel-elementos .item-panel{
    border: 1px solid rgba(128, 128, 128, 0.336);
    margin-right: 30px;
    border-radius: 2px;
    font-size: 12px; 
    margin: 10px 10px 10px 10px;
    
    
}

.contenedor-panel-elementos .item-panel .titulo{
    padding: 5px;
    background-color: #3a3a3a;
    font-size:10px;
    border-radius: 5px 5px 0px 0px;
}

.contenedor-panel-elementos .item-panel .active .titulo {
    color:greenyellow;
    border-radius: 5px 5px 0px 0px;
    
}

.contenedor-panel-elementos .item-panel .active{
    color:greenyellow;
    border-radius: 5px 5px 0px 0px;
    
}

.contenedor-panel-elementos .item-panel-2{
    color:white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}   

.contenedor-panel-elementos .item-panel-2 .titulo-2{
    padding: 10px;   
    font-size: 12px; 
}

.contenedor-panel-elementos .item-panel-2 .active{
    color: greenyellow;
}

.contenedor-panel-elementos .item-panel-3{
    padding:10px;
    padding-left: 30px;
    color:white;
}

.contenedor-panel-elementos .item-panel-3 .active{

    color: greenyellow;
}

@keyframes abrir {
    from {height:0px;}
    to {height: 100%;}
}


