page-buscar {

}

#titulo-zonas{
    height: 40px;
    line-height: 40px;
    background-color: greenyellow;
    text-align: center;
    padding-left: 20px;
}

#tabla-header-zonas{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: #ecebeb;
}

#tabla-zonas{
    padding-left: 10px;
}

#tabla-zonas .col{
    border: 1px solid #e6e6e6;
}