page-edit-visita {

}

.btn-registro{
    background-color: #ff901d;
}

.btn-lote-nuevo{
    background-color: #1bca72;
}


.btn-tarea-nuevo{
    background-color: #7f1dff;
}

.btn-agregar-producto{
    background-color: rgba(196, 29, 202, 0.725);
}


.contenedor-tareas{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #7f1dff;
    padding: 0px;
    border-radius: 5px;
    
}

.titulo-tareas{
    background-color: #7f1dff;
    padding: 10px;
    color: #f4f4f4;
}

.cabecera-tareas{
    background-color: #7f1dff;
    color: #ffffffc7;
    padding: 5px;
}


.contenido-tareas{
    border-bottom: 1px solid #dcdada;
    padding: 5px;
}



.contenedor-archivos{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #1d52ff;
    padding: 0px;
    border-radius: 5px;
    
}

.titulo-archivos{
    background-color: #1d52ff;
    padding: 10px;
    color: #f4f4f4;
}

.cabecera-archivos{
    background-color: #1d52ff;
    color: #ffffffc7;
    padding: 5px;
}


.contenido-archivos{
    border-bottom: 1px solid #dcdada;
    padding: 5px;
}


.contenedor-registros{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #ff901d;
    padding: 0px;
    border-radius: 5px;
    
}

.titulo-registros{
    background-color: #ff901d;
    padding: 10px;
    color: #f4f4f4;
}

.cabecera-registros{
    background-color: #ff901d;
    color: #ffffffc7;
    padding: 5px;
}


.contenido-registros{
    border-bottom: 1px solid #dcdada;
    padding: 5px;
}

.contenedor-lotes{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(29, 202, 115, 0.725);
    padding: 0px;
    border-radius: 5px;
}

.titulo-lotes{
    background-color: rgba(29, 202, 115, 0.725);
    padding: 10px;
    color: #f4f4f4;
}

.cabecera-lotes{
    background-color:rgba(29, 202, 115, 0.725);
    color: #ffffffc7;
    padding: 5px;
}


.contenido-lotes{
    border-bottom: 1px solid #dcdada;
    padding: 5px;
}

.contenedor-productos{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(196, 29, 202, 0.725);
    padding: 0px;
    border-radius: 5px;
}

.titulo-productos{
    background-color: rgba(196, 29, 202, 0.725);
    padding: 10px;
    color: #f4f4f4;
}

.cabecera-productos{
    background-color:rgba(196, 29, 202, 0.725);
    color: #ffffffc7;
    padding: 5px;
}


.contenido-productos{
    border-bottom: 1px solid #dcdada;
    padding: 5px;
}