page-historial {

}


.icono-item{
    display: inline;
    margin-right: 10px;
    font-size: 35px;
}

.contenido-item{
    display: inline-block;
}

.texto-item{
    display: block;
}

.datos-item{
    display: inline;
}